{
  "presets": [
    [
      "env",
      {
        "modules": false
      }
    ],
    "flow",
    "react"
  ],
  "plugins": [
    "transform-class-properties",
    "transform-object-rest-spread",
    ["transform-runtime", {
      "helpers": false,
      "polyfill": false
    }]
  ],
  "env": {
    "test": {
      "presets": [["env"], "react"],
      "plugins": ["transform-class-properties", "transform-object-rest-spread"]
    }
  }
}
